<div id="Additive" class="w-full mt-12">
    <!-- VoxelDance Additive -->
    <section  class="bg-background text-white text-center py-16 shadow-lg shadow-gray-400 shadow-[0px_10px_15px_2px_rgba(0,0,0,0.3)]">
      <h2 class="text-xl font-semibold text-primary">Unlock your printing potential</h2>
      <h1 class="text-3xl font-bold mt-4 text-muted-foreground">VoxelDance Additive</h1>
      <p class="mt-2 max-w-2xl mx-auto text-muted-foreground/90">
        An industrial-grade additive manufacturing CAx printing platform that integrates build preparation and simulation.
      </p>
      <button class="mt-6 px-6 py-3 text-black font-semibold rounded-lg bg-primary">
        Free Trial
      </button>
    </section>
  
    <!-- VoxelDance Manufacturing -->
      <section id="Manufacturing" class="text-center py-16">
        <h2 class="text-lg font-semibold text-primary">Smarter, more efficient</h2>
        <h1 class="text-3xl font-bold text-muted-foreground/90">
          VoxelDance <span class="text-primary">Manufacturing</span>
        </h1>
        <p class="mt-2 max-w-3xl mx-auto text-muted-foreground/90">
          Additive manufacturing CAM software with powerful capability to edit models, generate support and slice, based on a robust mesh geometry engine.
        </p>
        <button class="mt-6 px-6 py-3 border-muted-foreground rounded-lg shadow-lg shadow-gray-400 text-muted-foreground border border-[#cfcfcf]">
          Learn more
        </button>
      </section>
  
    <!-- Image Section -->
    <div class="relative w-full h-full bg-gray-200 flex items-center justify-center manufacturing">
        <img src="assets/images/voxeldance-manufacturing.png" alt="Hình ảnh mô phỏng công nghệ sản xuất"
          class="mx-auto w-full h-full object-cover">
      </div>
      
  
    <!-- VoxelDance Engineering -->
    <section id="Engineering" class="text-center py-16">
      <h2 class="text-lg font-semibold text-primary">No longer pay for risk</h2>
      <h1 class="text-3xl font-bold text-muted-foreground/90">
        VoxelDance <span class="text-primary">Engineering</span>
      </h1>
      <p class="mt-2 max-w-3xl mx-auto text-muted-foreground/90">
        Accurately predict print deformation to reduce manufacturing risk.
      </p>
      <button class="mt-6 px-6 py-3 border-muted-foreground rounded-lg shadow-lg shadow-gray-400 text-muted-foreground border border-[#cfcfcf]">
        <a href="https://www.youtube.com/watch?v=9A38bSK-V4g" target="_blank">
          <p class="your-button-class">Watch Video</p>
        </a>        
      </button>
    </section>
  
    <!-- Image Section -->
     <div class="shadow-lg shadow-gray-400">

         <div class="w-full h-full bg-gray-300 flex items-center justify-center">
           <!-- <p class="text-gray-600">[Hình ảnh phân tích biến dạng in]</p> -->
           <img src="assets/images/voxeldance-engineering.png" alt="Hình ảnh phân tích biến dạng in"
               class="mx-auto w-full h-full object-cover">
         </div>
       
         <!-- Apply Trial Section -->
         <section class="border-muted-foreground text-white text-center py-16">
           <h1 class="text-3xl font-bold text-muted-foreground/90 ">Start to use the all-in-one software platform</h1>
           <button class="mt-6 px-6 py-3 bg-primary text-black font-semibold rounded-lg">
             Apply Trial
           </button>
         </section>
     </div>
  </div>
  
